<div class="container" style="padding: 2% 2% 2% 2% !important;">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card text-white bg-primary">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Crud Person</h4>
                    <p class="card-text">Includ the Person Information</p>
                </div>
            </div>
        </div>
    </div>
    <app-people></app-people>
</div>